@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.visualizationsBlockElement {
    margin-top: 1em; 
    margin-bottom: 1em;

}

.linkVizAllTextColor {
    color: white !important;
    
 }
